// Config

const gridStyle = {
  gutterWidth: 16,
  columns: 12,
  maxMobileWidth: 768,
  maxTabletWidth: 1024,
  maxWidth: 1440
}

const gutterCount = grid.columns + 1;
const totalGuttersWidth = gutterCount * grid.gutterWidth;

function findColumnWidth(windowWidth) {
  const clampedWidth = Math.min(windowWidth, grid.maxWidth);
  const availableWidthWithoutGutters =
    clampedWidth - totalGuttersWidth;
  const columnWidth =
    availableWidthWithoutGutters / grid.columns;
  return columnWidth;
}

function findLayoutType(windowWidth) {
  if (windowWidth < gridStyle.maxMobileWidth) {
    return "mobile";
  } else if (windowWidth < gridStyle.maxTabletWidth) {
    return "tablet";
  } else {
    return "desktop";
  }
}

// Context

export const GridContext = React.createContext({
  columnWidth: findColumnWidth(window.innerWidth),
  gutterWidth: grid.gutterWidth,
  layoutType: findLayoutType(window.innerWidth)
});

// Component with Provider

function Grid({ children }) {
  const [layoutType, setLayoutType] = useState(
    findLayoutType(window.innerWidth)
  );
  const [columnWidth, setColumnWidth] = useState(
    findColumnWidth(window.innerWidth)
  );

  const handleResize = useCallback(
    (event) => {
      setColumnWidth(
        findColumnWidth(event.currentTarget.innerWidth)
      );
      setLayoutType(
        findLayoutType(event.currentTarget.innerWidth)
      );
    },
    [setColumnWidth, setLayoutType]
  );

  useEffect(() => {
    window.addEventListener("resize", handleResize);

    return () => {
      window.removeEventListener("resize", handleResize);
    };
  });

  const value = useMemo(
    () => ({
      columnWidth,
      gutterWidth: grid.gutterWidth,
      layoutType
    }),
    [columnWidth, layoutType]
  );

  return (
    <GridContext.Provider value={value}>
      {children}
    </GridContext.Provider>
  );
}

export default Grid;

// Hooks

export const useGridContext = () => useContext(GridContext);

export const useLayoutType = () => {
  const { layoutType } = useGridContext();
  return layoutType;
};

export const useColumnsWidth = (numColumns) => {
  const { columnWidth, gutterWidth } = useGridContext();

  const totalColumnWidth = columnWidth * numColumns;
  const totalGutterWidth = gutterWidth * (numColumns - 1);
  return totalColumnWidth + totalGutterWidth;
};

// Usage in component

function Root() {
  return (
    <Grid>
      <App />
    </Grid>
  );
}

function MyComponent() {
  const layoutType = useLayoutType();
  const widthTablet = useColumnsWidth(8);
  const widthDesktop = useColumnsWidth(6);

  return (
    <div
      css={[
        style.container,
        layoutType === "tablet" && css({ widthTablet }),
        layoutType === "desktop" && css({ widthDesktop })
      ]}
    >
      …
    </div>
  )
}
